.square {
  width: 100px;
  height: 100px;
  font-size: 80px;
  text-align: center;
}

.positive {
  background-color: lightgrey;
}

.negative {
  background-color: grey;
}

.inConflict{
  background-color: red;
}
